@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
#wrapper {
  width: 100%;
  height: 100%;
}
#wrapper .first .logo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#wrapper .first .logo img {
  text-align: center;
  max-width: 150px;
}
#wrapper .first h3 {
  font-size: 40px;
  color: #000;
  text-align: center;
  text-transform: capitalize;
  /* text-shadow: 3px 3px #fff6; */
  /* max-width: 500px; */
  display: flex;
  justify-content: center;
  /* margin: auto; */
  margin: 50px 30px 0px;
}
#wrapper .first p {
  font-size: 20px;
  color: #000;
  text-align: center;
  margin: 20px 50px 0px;
}
video {
  width: 100%;
  height: 100%;
}
#content {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: auto;
  position: relative;
}
#content .video-content-holder {
  max-width: 500px;
}
#poster {
  object-fit: cover;
  cursor: pointer;
  display: block;
  position: absolute;
  width: 90%;
  aspect-ratio: 16 / 9;
  padding: 50px 0px;
}
#iframe {
  position: relative;
  width: 90%;
  aspect-ratio: 16 / 9;
  padding: 50px 0px;
}

/* Center the slider */
.slider-container {
  width: 100%;
  margin: auto; /* Center horizontally */
  padding-bottom: 50px;
}

.splide__slide img {
  width: 100%;
}
.splide__pagination__page {
  width: 20px !important;
  height: 20px !important;
  margin: 5px !important;
}
.splide__pagination__page.is-active {
  transform: none !important;
}
.splide__pagination {
  right: unset !important;
}
.splide__pagination__page {
  background: #474747 !important;
  opacity: 1 !important;
}
.splide__pagination__page.is-active {
  background: #fff !important;
}

/* charging */
.charging h3 {
  font-size: 40px;
  color: #000;
  text-align: center;
  text-transform: capitalize;
  /* max-width: 500px; */
  display: flex;
  justify-content: center;
  /* margin: auto; */
  margin: 50px 30px 50px;
}
.charging .slider-container {
  width: 80%;
}
.charging .slider-container p {
  font-size: 20px;
}
.logo {
  cursor: pointer;
}
